@page "/logout"
@inject UserInfo userInfo
@inject HttpClient httpClient
@inject NavigationManager navigationManager
<h2>User loggedout</h2>
@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("Logout OnInitialized******************");
        Console.WriteLine($"userLoginName was: {userInfo.LoginName}");
        httpClient.DefaultRequestHeaders.Remove("Authorization");
        userInfo.LogOut();
        Console.WriteLine($"userLoginName now is: {userInfo.LoginName}");
        navigationManager.NavigateTo("/home");
    }
}
