
<hr />
@commentDto.Text
<br />
<span>Автор:  @commentDto.OwnerUser</span>
<span class="ms-5">Дата:  @commentDto.CreationDate</span>

@code {
    [Parameter]
    public CommentDto commentDto { get; set; }
}
