@inherits LayoutComponentBase
@inject UserInfo userInfo
<div class="page" >
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CloneHabr.BlazorUI.Pages.Header userLoginName=@userInfo.LoginName />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
