<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">CloneHabr.BlazorUI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-row">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/design" Match="NavLinkMatch.All">
                <span class="oi oi-brush " aria-hidden="true"></span> Дизайн
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/webdev" Match="NavLinkMatch.All">
                <span class="oi oi-globe" aria-hidden="true"></span> Web-разработка
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/mobiledev" Match="NavLinkMatch.All">
                <span class="oi oi-tablet" aria-hidden="true"></span> Моб-разработка
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/marketing" Match="NavLinkMatch.All">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Маркетинг
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/search" Match="NavLinkMatch.All">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Поиск
            </NavLink>
        </div>

        <div class="col-12 mt-5">
            <div class="nav-item px-3 ">
                <NavLink class="nav-link" href="/help" Match="NavLinkMatch.All">
                    <span class="oi oi-question-mark" aria-hidden="true"></span> Help
                </NavLink>
            </div>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
