@page "/help"
<h3>Правила сайта</h3>

<p>
    Последнее редактирование: @DateOfLastChange
</p>

<p>
    @TextLastChange
</p>

<h4>Вот список того, чего на ресурсе делать не следует:</h4>


<h5>1. Рекламировать ресурсы в обход правил</h5>

<p>
    @TextPath1
</p>

<p>
    Исключения:
</p>

<p>
    @TextException
</p>

<p>
    @TextException2
</p>

<p>
    @TextException3
</p>

<p>
    @TextException4
</p>

<h5>2. Заниматься плагиатом</h5>

<p>
    @TextPlagiat
</p>

<h5>3. Путать сайт с Твиттером</h5>

<p>
    @TextOfTwitter
</p>

<h5>4. Путать сайт с жалобной книгой</h5>

<p>
    @TextOfComplainBook
</p>

<h5>5. Путать сайт с имиджбордом</h5>

<p>
    @TextOfImegboard
</p>

<h5>6. Инициировать политические дискуссии и участвовать в них</h5>

<p>
    @TextOfDiscussion
</p>

<h5>7. Игнорировать правила русского языка, коверкать слова, злоупотреблять смайликами</h5>

<p>
    @TextOfSpellingRules
</p>

<h5>8. Оскорблять других пользователей, не следить за эмоциями</h5>

<p>
    @TextOfInsults
</p>

<h5>9. Беспокоить пользователей в личных сообщениях</h5>

<p>
    @TextOfDisturbUsers
</p>

<h5>10. Создавать виртуалов</h5>

<p>
    @TextOfVirtuals
</p>

<p>
    @TextOfVirtuals1
</p>

<p>
    @TextOfVirtuals2
</p>

<h5>11. Создавать статьи в разделах другой направленности</h5>

<p>
    @OtherFocus
</p>

<h4>Этикет</h4>

<p>
    @Etiquette
</p>

<p>
    @Etiquette1
</p>

<p>
    @Etiquette2
</p>

<p>
    @Etiquette3
</p>

<p>
    @Etiquette4
</p>

<p>
    @Etiquette5
</p>

<p>
    @Etiquette6
</p>

<p>
    @Etiquette7
</p>

<p>
    @Etiquette8
</p>

<p>
    @Etiquette9
</p>

<p>
    @Etiquette10
</p>

<p>
    @Etiquette11
</p>

<h4>О сайте:</h4>

<p>
    @AboutTheSite
</p>

@code {
    private string TextLastChange = "Обычно IT-специалисты и интересующиеся данной сферой — это люди культурные, уважающие не только себя, но и собеседников и читателей. Чтобы ресурс мог оставаться площадкой для общения таких людей, существуют правила, за нарушение которых модераторы могут понизить права аккаунта до ReadOnly.";
    private string DateOfLastChange = "— 30 мая 2023 года.";
    private string TextPath1 = "Компаниям запрещено использовать любые упоминания их средств индивидуализации, в том числе без ссылок, визуалы (логотипы, фирменные цвета и шрифты), информировать о вакансиях и задачах. Единственная разрешённая форма упоминания — подпись должности в компании с именем и фамилией в начале или конце публикации (пример: ведущий разработчик ООО «Конгресс» Сергей Иванов). Статьи с нарушениями будут сняты с публикации, а аккаунты их авторов будут заблокированы вне зависимости от показателя их кармы.";
    private string TextException = "Исключение составляют упоминания авторами своей должности в компании (без указания ссылки на сайт компании), своих контактных данных (включая адреса персональных аккаунтов в соцсетях), своих персональных блогов на крупных медиа-ресурсах (LJ, Medium и др.). Допускается упоминание профильных youtube-каналов, чатрумов и групп в соцсетях, не носящих названия проекта, компании, продукта, услуги, сервиса или мероприятия.";
    private string TextException2 = "Игровым проектам и разработчикам приложений, не имеющим сайта, разрешено размещать ссылки на Google Play и AppStore даже в случае наличия монетизации приложения или игры.";
    private string TextException3 = "Разрешается в конце публикации давать одну активную ссылку без меток и сокращений на краудфандинговые площадки: например, Kickstarter, Boomstarter, Planeta и Patreon и другие. При этом проект должен быть реальным и не являться просто виртуальным сбором денег, а публикуемый материал должен быть интересной полноценной статьёй, раскрывающей особенности проекта, и соответствующей тематике Хабра. Любые иные попытки собрать средства по-прежнему строго запрещены (включая ссылки на сборы денег в социальных сетях и на коммерческих сайтах компаний).";
    private string TextException4 = "Пользователям разрешается указывать активные ссылки без меток и сокращений на платные книги собственного авторства (или соавторства) в том случае, если книга размещена в официальных книжных магазинах таких как ЛитРес, МИФ, OZON, Amazon, books.ru и т.д. либо на официальном сайте издательства.";
    private string TextPlagiat = "Не следует копировать на gbdev2csharp.bsite.net тексты, опубликованные другими людьми на других ресурсах, но можно копировать собственные тексты, если они не нарушают правила ресурса.";
    private string TextOfTwitter = "Односложные статьи или новости вида «Смотрите, какую я нашел ссылку», «Chrome обновился, вот тут чейнджлог» и подобное не приветствуются. Даже если новость изначально короткая, постарайтесь сопроводить её развёрнутым комментарием.";
    private string TextOfComplainBook = "Если у вас проблемы с сотовым оператором, с провайдером интернета или хостинга, или с чем-то ещё, всегда можно связаться со службой поддержки нужного вам ресурса. Или с компетентными органами. Но не следует использовать gbdev2csharp.bsite.net как рупор, дабы рассказать всем о постигшей вас ситуации.";
    private string TextOfImegboard = "У нас не принято общаться изображениями. Изображение, иллюстрирующее вашу мысль, должно сопровождаться текстовым комментарием, исключающим неоднозначность его трактовки. Крупные изображения следует помещать под спойлер, чтобы пользователям не приходилось тратить время на их пролистывание.";
    private string TextOfDiscussion = "Тематика нашего ресурса определена довольно чётко. Для рассуждений о политике есть куда более подходящие сайты. Но не gbdev2csharp.bsite.net.";
    private string TextOfSpellingRules = "Даже если русский язык был не самым вашим любимым предметом в школе или не является родным — проверка орфографии в браузере у вас наверняка есть, не стоит ею пренебрегать.";
    private string TextOfInsults = "Мат, оскорбления, переходы на личности, эвфемизмы, троллинг — хорошие способы быстро и надежно сменить текущий статус аккаунта на ReadOnly.";
    private string TextOfDisturbUsers = "Не следует беспокоить пользователей: просьбами о консультации, просьбами о помощи в настройке чего-либо или решении какой-либо задачи, просьбами поучаствовать в опросе или высказать свое мнение о чем-либо, своими резюме или предложениями, отзывами о компании, в которой они работают или вопросами к этой компании, любыми обращениями, направленными на привлечение внимания к какому-либо проекту, продукту, мероприятию или услуге.";
    private string TextOfVirtuals = "Всегда приятно поговорить с умным человеком, но создавать для этого добавочные аккаунты не стоит.";
    private string TextOfVirtuals1 = "Список нарушений остаётся открытым, потому что всегда можно придумать что-то, не описанное выше. В таких случаях модераторы руководствуются здравым смыслом и собственным чувством прекрасного. Обсуждать их решения и создавать на эту тему агитационные публикации не стоит — если они кого-то забанили, значит, у них была довольно веская причина.";
    private string TextOfVirtuals2 = "Как видите, ничего сложного в правилах нет, и мы будем признательны, если вы будете их соблюдать.";
    private string OtherFocus = "Перед созданием статьи обратите внимание, к какому разделу Ваша статья будет относиться: Дизайн, Web-разработка, Моб-разработка или Маркетинг. Не стоит создавать статьи не относящиеся к конкретному разделу, за этим может повлеч наказание.";
    private string Etiquette = "Это не рекомендации для обязательного выполнения, это — правила этикета, придерживаться которых совсем несложно.";
    private string Etiquette1 = "Сетевой этикет — он и на gbdev2csharp.bsite.net сетевой этикет.";
    private string Etiquette2 = "Уважайте мнение других. Оно не обязано совпадать с вашим.";
    private string Etiquette3 = "Аргументированная публикация, даже если она противоположна вашему мнению, не должна получать минус. Человек не обязан подстраиваться под ваши вкусы.";
    private string Etiquette4 = "Если схожие темы неоднократно поднимаются под разными предлогами, это не значит, что надо ставить минус. Это лишь значит, что проблема до сих пор не решена.";
    private string Etiquette5 = "Каждый автор имеет свою индивидуальность, потому если вы уже где-то видели подобную статью, это не значит, что в сообщении нет ничего нового и интересного. Вчитайтесь и вдумайтесь — поймите авторское мнение.";
    private string Etiquette6 = "Не злоупотребляйте своей возможностью голосования. Необходимо понимать, что минус сильно отличается от плюса — минус угнетает человека, а не развивает его. Ставьте плюсы, когда вам что-то нравится, но подумайте, прежде чем ставить минус, если что-то не понравилось.";
    private string Etiquette7 = "Первый комментарий — это не единственный комментарий в теме. Прежде чем ставить ему оценку, прочитайте ещё парочку.";
    private string Etiquette8 = "Минус — это не аргумент, и, тем более, не контраргумент.";
    private string Etiquette9 = "Не стоит делать того, что не принято в цивилизованном обществе, противоречит законам, морали и этике.";
    private string Etiquette10 = "Не делай другим то, что не хочешь получить от них сам. Поставьте себя на место человека, с которым общаетесь. Отстаивайте свою точку зрения, но не оскорбляйте окружающих.";
    private string Etiquette11 = "Помогайте другим там, где вы это можете делать.";
    private string AboutTheSite = "Данный сайт был сделан совместными услими Иваном, Oleg S, Александром Колодинским, Дмитрием Яковлем, Igor N, Александром Марфицыным, в рамках итоговой выпускной работы по специальности " + "\"Программист С#\"" + " вуза GeekBrains.";

}


